@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Farsan&display=swap');
/* slick-carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slick-slide {
  display: flex !important; /* Ensure slides remain flexible */
}

.slide-container {
  margin: 0 10px; /* Space between slides */
}







/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.marquee {
  overflow: hidden; /* Hide the overflowing text */
  white-space: nowrap; /* Prevent line breaks */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow for effect */
}

.marquee-content {
  display: inline-block;
  padding-left: 100%; /* Start the text off-screen */
  animation: marquee 15s linear infinite; /* Speed and animation behavior */
}

@keyframes marquee {
  0% {
      transform: translate(0, 0); /* Start position */
  }
  100% {
      transform: translate(-50%, 0); /* End position */
  }
}